    <img src="{{Product.productImage}}"  class="product-card-img"/>
    <p class=" my-2 text-lighter">{{Product.name}}</p>
    <p class="mb-0 text-lighter mb-4"><strong>{{Product.price}} </strong>جنيه</p>
    <!-- <p *ngIf="Product.discount>0" class="text-lighter">
        <del style="font-size: 12px;">{{Product.price}} جنيه  </del> 
        <strong class="discount mx-1">  {{( Product.discount/100) | percent}}</strong>
    </p> -->
   <div style="position: absolute; bottom: 0;"> 
        <img src="../../../../assets/images/Website-Images/fulfilment_express_v2-ar.svg"  style="width:50px;"/>
    </div>
