<div class="container">
  <div class="card-title"> 
     <div class="card col-lg-4" *ngFor="let user of UserList"  >
        <div class="card-body">
            <h5 class="card-title">  أسم المستخدم :{{user.userName}}  </h5>
            <h6 class="card-subtitle mb-2 text-muted"> البريد الالكتروني : {{user.email}} </h6>
            <p class="card-text">الاسم بالكامل :{{user.firstName}} {{user.lastName}}  </p>
            <p class="card-text"> رقم الهاتف : {{user.phoneNumber}} </p>
            <p class="card-text"> عنوان المستخدم بالتفصيل :  {{user.country}} ,{{user.city}},{{user.street}}  </p> 
            <!-- <a routerlink="/DeleteUser/{{user.id}}" class="btn btn-danger">أحذف المستخدم</a>     -->
            <!-- <a name="" id="" class="btn btn-danger" [routerLink]="['/DeleteUser', user.id]" role="button">أحذف المستخدم</a>      -->
             <button  class="btn btn-outline-danger" type="button" (click)='Deleted(user.id)'>أحذف المستخدم</button>
              <div> {{user.id}}</div> 
        </div>
      </div>
  </div>
</div>
