<div class="py-4 px-3">
    <div class="row my-border-b py-3 align-items-center">
        <img class="col" src="../../../../assets/images/Website-Images/free_returns.svg" alt="" style="max-width:70px;">
        <div class="col">
            تقدر ترجّع المنتج بسهولة في العرض ده<a href="#"> معرفة المزيد</a>
        </div>
    </div>
    <div class="row my-border-b py-3 align-items-center">
        <img class="col" src="../../../../assets/images/Website-Images/warranty.svg" alt="" style="max-width:70px;">
        <div class="col" >
            ضمان لمده عام
        </div>
    </div>
    <div class="row my-border-b py-3 align-items-center">
        <img class="col" src="../../../../assets/images/Website-Images/seller.svg" alt="" style="max-width:70px;">
        <div class="col" >
            البائع <a href="#">نون</a>
        </div>
    </div>
    <div class="row py-4 px-2 text-center">
        <div class="col-sm-4">
            <img src="../../../../assets/images/Website-Images/badge_low_returns_seller.png" style="max-width:40px;"/>
            <p class="mt-2">معدلات ارجاع منخفضه</p>
        </div>
        <div class="col-sm-4">
            <img src="../../../../assets/images/Website-Images/badge_great_recent_rating.png" style="max-width:40px;"/>
            <p class="mt-2">احدث التقيمات الاجابيه</p>
        </div>
        <div class="col-sm-4">
            <span class="my-percent">80%</span>
            <p class="mt-2">النتج كما فى الوصف</p>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col" style="max-width: 70px;">
                <div class="row justify-conetn-center align-items-center" style="width: 60px;height: 60px; border-radius:50%; background-color:#FFF8EC">
                    <img src="../../../../assets/images/Website-Images/free_returns.svg" alt="" style="width: 55px;">
                </div>
            </div>
            <div class="col">
                <span>ارجاع مجانى</span>
                <p>على منتجات معينه ومجانى</p>
            </div>
        </div>
        <div class="row my-4">
            <div class="col" style="max-width: 70px;">
                <div class="row justify-conetn-center align-items-center" style="width: 60px;height: 60px; border-radius:50%; background-color:#FFF8EC">
                    <img src="../../../../assets/images/Website-Images/trusted_shipping_usp_v2.svg" alt="" style="width: 60px;">
                </div>
            </div>
            <div class="col">
                <span>شحن موثوق به</span>
                <p>بدون مصاريف شحن لما تشتري بـ 200 جنيه أو أكتر</p>
            </div>
        </div>
        <div class="row">
            <div class="col" style="max-width: 70px;">
                <div class="row justify-conetn-center align-items-center" style="width: 60px;height: 60px; border-radius:50%; background-color:#FFF8EC">
                    <img src="../../../../assets/images/Website-Images/secure_usp.svg" alt="" style="width: 60px;">
                </div>
            </div>
            <div class="col">
                <span>تسوق آمن</span>
                <p>بياناتك محمية دائماً</p>
            </div>
        </div>
    </div>
</div>
