<div class="container py-5">
    <div class="row justify-content-around">
        <div class="col-md-4 text-center">
            <p class="">تسوق اينما كنت</p>
            <img src="../../../../assets/images/Website-Images/footer/app-store.svg" alt="app store">
            <img src="../../../../assets/images/Website-Images/footer/google-play.svg" alt="Googl Play">
        </div>
        <div class="col-md-4 text-center">
            <p >تواصل معنا</p>
           <div class="social-icons row justify-content-center">
                <div class="social-icon ">
                    <a href="http://www,facebook.com" class="text-dark" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-facebook-f "></i>
                    </a>
                </div>
                <div class="social-icon">
                   <a href="http://www.twitter.com"  class="text-dark" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-twitter "></i>
                   </a>
                </div>
                <div class="social-icon">
                   <a href="http://www.instagram" class="text-dark "target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-instagram "></i>
                   </a>
                </div>
                <div class="social-icon">
                   <a href="http://www.linkedin.com"  class="text-dark" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-linkedin-in "></i>
                   </a>
                </div>
           </div>
        </div>
    </div>
</div>
