<div class="container-fluid px-4 py-4 bg-light my-text-small" >
    <div class="row justify-content-between">
        <div class="col-md-2">
            كل الحقوق محفوظفه.noon 2022 &copf;
        </div>
        <div class="col-md-3">
            <img class="me-2" src="../../../../assets/images/Website-Images/footer/mastercard-color.svg" alt="" srcset="">
            <img class="me-2" src="../../../../assets/images/Website-Images/footer/visa-color.svg" alt="" srcset="">
            <img class="me-2" src="../../../../assets/images/Website-Images/footer/cash-color.svg" alt="" srcset="">
            <img class="me-2" src="../../../../assets/images/Website-Images/footer/amex-color.svg" alt="" srcset="">
        </div>
        <div class="col-md-7 row  justify-content-between">
            <a href="#" class="link-secondary col">فرص التوظيف</a>
            <a href="#" class="link-secondary col">سياسه الضمان</a>
            <a href="#" class="link-secondary col">البيع معنا</a>
            <a href="#" class="link-secondary col">شروط الاستخدام</a>
            <a href="#" class="link-secondary col">شروط البيع</a>
            <a href="#" class="link-secondary col">سياسه الخصوصيه</a>
        </div>
    </div>
</div>
