<div>
    <ul class="bg-light row justify-content-between m-0" style="list-style: none;">
        <li class="all-catogries nav-item py-2 col " style="position: relative;">
          <span class="cateTitle">  جميع الفئات</span>
            <ul class="categories-menu bg-light my-text-small py-2">
                <li class="nav-item my-2 subcategories-container m-0" *ngFor="let category of Categories" >
                    <a class="nav-link" routerLink="{{'category/'+category.id}}">{{category.name}}</a> 
                    <ul class="subcategories-menu py-2">
                        <h6 class="py-2 text-center">{{category.name}}</h6>
                        <li *ngFor="let subcateogry of category.subCategories">
                            <a class="nav-link mb-2 " routerLink="subcategory/{{subcateogry.subCategoryId}}">{{subcateogry.subCategoryName}}</a> 
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="nav-item py-2 col" *ngFor="let category of Categories">
           <a class="nav-link" routerLink="{{'category/'+category.id}}">{{category.name}}</a> 
        </li>
    </ul>
</div>
