<footer>
    <div class="footer-top bg-section  py-3 px-4">
        <div class="container-fluid ">
            <div class="row justify-content-between">
                <div class="col-md-5 col-sm-12">
                    <h6>نحن دائما جاهزون لمساعدتك</h6>
                    <p class="my-text-small">تواصل معنا من خلال اى قنوات الدعم التاليه :</p>
                </div>
                <div class="col-md-7 col-sm-12">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-4">
                            <p class="my-text-small">مركز المساعده :</p>
                            <p>help.noon.com</p>
                        </div>
                    
                    
                        <div class="col-4">
                            <p class="my-text-small">الدعم عبر البريد الالكترونى:</p>
                            <p >egypt@noon.com</p>
                            </div>
                       
                        <div class="col-4">
                            <p class="my-text-small">الدعم عبر الهاتف :</p>
                            <p>16358</p>
                        </div>
                            
                        </div>
                  </div>
                </div>
         </div>
        
    </div>
   <app-footer-cayegories></app-footer-cayegories>
  <app-footer-cop-rights></app-footer-cop-rights>
</footer>
