<div class="container-fluid px-4">
    <div class="row justify-content-between py-4">
        <div *ngFor="let category of Categories" class="col mb-3">
                <h6 class="mb-3 text-dark" style="font-size:17px; font-weight: 400;">{{category.name}}</h6>
                <p *ngFor="let subcategory of category.subCategories" >
                    <a class="nav-link my-text-small" routerLink="/subcategory/{{subcategory.subCategoryId}}">{{subcategory.subCategoryName}}</a>   
                    <!-- <img src="{{subcategory.subCategoryImage}}"/> -->
                </p>
        </div>
    </div>
    <app-footer-categories-app-and-social></app-footer-categories-app-and-social>
</div>
